<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Venta</title>
  <link rel="stylesheet" href="/css/register-sale.css">
  <link rel="stylesheet" href="/css/modaleliminacion.css">
  <link rel="stylesheet" href="/css/modalventa.css">
  <link rel="stylesheet" href="/css/modalnostock.css">
</head>
<body>
  
  <header>
    <div class="Title">
        <h1>BioMedicine</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/admin">Inventario</a></li>
            <li><a href="#productos">Dashboard</a></li>
        </ul>
    </nav>
</header>

  <section id="register-sale">
    <h1>Registrar Venta</h1>
    <form id="register-sale-form">
      <label for="medicationId">Medicamento:</label>
      <select id="medicationId" name="medicationId" required>
        <% medications.forEach(medication => { %>
          <option value="<%= medication.id %>"><%= medication.name %></option>
        <% }) %>
      </select>

      <label for="quantity">Cantidad:</label>
      <input type="number" id="quantity" name="quantity" required>

      <button type="submit">Registrar Venta</button>
    </form>
  </section>

  <section id="sales-history">
    <h2>Historial de Ventas</h2>
    <table>
      <thead>
        <tr>
          <th>Medicamento</th>
          <th>Cantidad</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Precio al publico</th>
          <th>Total Venta</th> <!-- Nueva columna -->
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="sales-table-body">
        <% let totalVendido = 0; %> <!-- Variable para el total vendido -->
        <% sales.forEach(sale => { %>
          <tr>
            <td><%= sale.medication.name %></td>
            <td><%= sale.quantity %></td>
            <td><%= new Date(sale.date).toLocaleDateString() %></td>
            <td><%= new Date(sale.date).toLocaleTimeString() %></td>
            <td>$<%= sale.medication.publicPrice %></td> <!-- Usar publicPrice -->
            <td>$<%= sale.total %></td> <!-- Mostrar el total almacenado en la base de datos -->
            <td>
                <button class="delete-sale-button" data-id="<%= sale.id %>">Eliminar</button>
            </td>
          </tr>
          <% totalVendido += sale.quantity * sale.total; %> <!-- Acumulador para total vendido -->
        <% }) %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" style="text-align: right;"><strong>Total Vendido:</strong></td>
          <td  id="total-vendido">$<%= totalVendido %></td>
        </tr>
      </tfoot>  
    </table>
  </section>

  <section id="medication-stock">
    <h2>Stock de Medicamentos</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de Caducidad</th>
          <th>Precio</th>
          <th>Lote</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody id="medications-table-body">
        <% medications.forEach(medication => { %>
          <tr>
            <td><%= medication.name %></td>
            <td><%= medication.description %></td>
            <td><%= new Date(medication.expirationDate).toISOString().split('T')[0] %></td>
            <td><%= medication.publicPrice %></td>
            <td><%= medication.lot %></td>
            <td><%= medication.stock %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>

  <!-- Modal de confirmación de venta -->
  <div id="sale-confirmation-modal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>¡Venta registrada exitosamente!</p>
    </div>
  </div>
<!-- Modal de confirmación de eliminación -->
<div id="delete-confirmation-modal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Confirmar Eliminación</h2>
      <p>¿Estás seguro de que deseas eliminar esta venta?</p>
      <button id="confirm-delete-button">Eliminar</button>
      <button id="cancel-delete-button">Cancelar</button>
    </div>
  </div>
  <!-- Modal de error -->
    <div id="error-modal" class="modal" style="display: none;">
      <div class="modal-content">
        <span  class="close">&times;</span>
        <p id="error-message"></p>
      </div>
    </div>
  
  <script src="/js/register-sale.js"></script>
</body>
</html>
